In [25]:
import pandas as pd
import openpyxl
import xlrd

In [26]:
data = pd.read_json('json_data.json') 
print(data)

   Laptops  Weight
0    10000     700
1    20000     250
2    30000     800
3    40000    1200

In [27]:
df = data.head()
df

   Laptops  Weight
0    10000     700
1    20000     250
2    30000     800
3    40000    1200

In [28]:
df.shape

(4, 2)

In [29]:
df.to_csv('csv_data.csv', index = False)

In [30]:
df_csv = pd.read_csv('csv_data.csv')
df_csv

   Laptops  Weight
0    10000     700
1    20000     250
2    30000     800
3    40000    1200

In [31]:
df_csv.to_json('json_new_data.json')

In [32]:
df_csv.to_excel('excel_new_data.xlsx')

In [33]:
df_excel = pd.read_excel('excel_new_data.xlsx')
df_excel

   Unnamed: 0  Laptops  Weight
0           0    10000     700
1           1    20000     250
2           2    30000     800
3           3    40000    1200